@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ThunderLight';
  src: url('/src/assets/fonts/Thunder-LightLC.woff2') format('woff2'),
       url('/src/assets/fonts/Thunder-LightLC.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Thunder';
  src: url('/src/assets/fonts/Thunder-BoldLC.woff2') format('woff2'),
       url('/src/assets/fonts/Thunder-BoldLC.otf') format('opentype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

body {
  @apply bg-neutral-silver-700 h-screen text-white font-archivo;
}

.main {
  @apply bg-neutral-black font-archivo flex justify-center h-20;
}

nav ul {
  @apply flex items-center gap-10;
}

nav li {
  @apply transition-colors duration-300 text-neutral-silver-300 text-lg hover:text-white;
}

nav a.active {
  @apply text-white;
}

main {
  @apply grow p-[60px];
}

footer {
  @apply py-10 flex justify-center w-full bg-neutral-black;
}

footer span {
  @apply text-neutral-silver-300 text-sm;
}

footer select {
  @apply bg-transparent text-2xl appearance-none w-12 focus:outline-none;
  background: url('/src/assets/images/icon-arrow-down.svg') no-repeat right;
}

h2, h3 {
  @apply font-thunder-bold text-white uppercase;
}

h2 {
  line-height: 58px;
  @apply text-[64px];
}

h3 {
  @apply text-5xl;
}

h4 {
  @apply font-archivo text-[28px] font-semibold;
}

table {
  @apply w-full border-separate border-spacing-y-7;
}

th {
  @apply text-sm text-left border-b text-white border-neutral-silver-600 py-[11px] capitalize font-normal;
}

tr {
  @apply text-neutral-silver-200 cursor-pointer;
}

tr:hover td {
  @apply text-white;
}

td {
  @apply first:text-white transition duration-500;
}

#root {
  @apply h-full;
}

.social {
  @apply bg-neutral-silver-700 rounded-xl p-3;
}

.uploader {
  background: radial-gradient(50% 50.00% at 50% 50.00%, #000 0%, rgba(0, 0, 0, 0.00) 100%), rgba(6, 6, 6, 0.50);
  @apply flex flex-col items-center justify-center p-12 border-2 border-dashed border-neutral-silver-500 rounded-[32px];
}

.uploader h2 {
  @apply text-white uppercase text-5xl mb-4;
}

.uploader p {
  @apply text-neutral-silver-200 text-lg font-archivo mb-8;
}

.btn {
  @apply rounded-[10px] font-archivo text-lg px-6 py-3 flex items-center justify-center h-[46px];
}

.btn-primary {
  @apply disabled:bg-neutral-silver-500 disabled:text-neutral-silver-300;
}

.btn-secondary {
  @apply border-[1.5px] border-brand-gold bg-transparent text-brand-gold;
}

/* add mobile width */
.file-input {
  @apply w-48;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-input::before {
  white-space: nowrap;
  @apply rounded-[10px] font-archivo text-lg px-6 py-3 inline-block border-[1.5px] border-brand-gold bg-transparent text-brand-gold cursor-pointer;
  content: 'Choose from files';
}

.search-input {
  background: url('/src/assets/images/icon-search.svg') no-repeat 14px;
  line-height: 20px;
  @apply bg-neutral-silver-700 border rounded-xl border-neutral-silver-500 text-neutral-silver-300 p-3.5 focus:outline-none pl-12 w-full max-w-[360px];
}

.play-hover {
  @apply absolute top-0 left-0 w-full h-full;
  background: url('/src/assets/images/icon-play.svg') no-repeat center, 
              linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,1));
}

.audio-player {
  @apply grid grid-cols-3 px-[60px] pt-4 pb-5 w-full fixed bottom-0 backdrop-blur-[30px];
  background: rgba(37, 41, 46, 0.60);
}

.player-progressbar input[type='range'] {
  position: relative;
  width: 100%;
}

.player-progressbar input[type='range']::before {
  @apply bg-brand-gold left-0 top-0 absolute h-full;
  content: '';
  width: var(--range-progress);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.player-progressbar input[type='range']::-webkit-slider-thumb {
  @apply bg-brand-gold w-1.5 h-1.5 rounded-full appearance-none transition-transform duration-300;
}

.player-progressbar input[type='range']:active::-webkit-slider-thumb,
.player-progressbar input[type='range']:hover::-webkit-slider-thumb {
  transform: scale(2);
}

.player-volume input[type='range'] {
  position: relative;
}

.player-volume input[type='range']::before {
  @apply bg-white left-0 top-0 absolute h-full;
  content: '';
  width: var(--range-progress);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.player-volume input[type='range']::-webkit-slider-thumb {
  @apply bg-white w-1.5 h-1.5 rounded-full appearance-none transition-transform duration-300;
}

.player-volume input[type='range']:active::-webkit-slider-thumb,
.player-volume input[type='range']:hover::-webkit-slider-thumb {
  transform: scale(2);
}

.test path {
  @apply stroke-neutral-silver-200 transition duration-500;
}

.test:hover path {
  @apply stroke-brand-gold;
}

.player-controls path {
  @apply fill-neutral-silver-200 transition duration-500;
}

.player-controls:hover path {
  @apply fill-white;
}

.player-controls-active path {
  @apply fill-brand-gold;
}

.breadcrumb {
  @apply bg-neutral-silver-600 px-4 py-2 rounded-full h-fit;
}

.breadcrumb ul {
  @apply list-none flex gap-1 text-neutral-silver-200;
}

.breadcrumb li {
  @apply text-sm relative mr-4;
}

.breadcrumb li:after {
  content: '';
  height: 30px;
  width: 30px;
  background: url('/src/assets/images/icon-arrow-right.svg') 0 0 no-repeat;
  @apply inline-block absolute top-0 -right-[30px];
}

.breadcrumb li:last-child:after {
	content: '';
  background: none;
}

.breadcrumb li:last-child {
  @apply mr-0;
}

.breadcrumb li:last-child {
  @apply text-white;
}

.toolbar {
  @apply flex items-center mb-8;
}

.toolbar button path {
  @apply stroke-white;
}

.signup-cover {
  background: url('/src/assets/images/sign-up.jpg') no-repeat;
  @apply bg-cover;
}

.signin-cover {
  background: url('/src/assets/images/sign-in.jpg') no-repeat;
  @apply bg-cover;
}

/* NOTIFICATIONS PAGE */
.notification {
  @apply w-full bg-neutral-black h-full flex justify-center 
}
.notification h3, p {
  @apply text-center
}
.notification .row {
  @apply bg-neutral-silver-600 w-full p-2  rounded-lg space-y-2
}
.notification .over {
  @apply bg-neutral-black !important
}
.notification .reply-btn {
 @apply flex uppercase text-sm items-center rounded-lg px-2  bg-neutral-silver-700 text-brand-uva;
}
.notification .isOpen  {
  @apply bg-neutral-silver-500 !important
}
.notification .options {
 @apply flex justify-center space-x-2
}
.notification .options button {
  @apply w-32 h-10 rounded-lg font-archivo font-semibold bg-neutral-silver-700 text-neutral-silver-200 text-sm
}
.notification .options button span {
 @apply bg-neutral-silver-600 rounded-full px-1
}
.notification .options .isActive {
 @apply bg-brand-gold  text-neutral-black
}
.notification .options .isActive span  {
  @apply bg-brand-gold/40 px-1 
}